<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.myapplication">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".classDemo.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".demo.RotateActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".aidl.AidlActivity" />
        <activity android:name=".view.layout_manager.LayoutMangerActivity">
        </activity>
        <activity android:name=".album.SelectPictureActivity" />
        <activity android:name=".album.Main6Activity" />
        <activity android:name=".demo.Main5Activity" />
        <activity android:name=".classDemo.bitmaploader.BitmapLoaderActivity" />
        <activity android:name=".classDemo.Main4Activity" />
        <activity android:name=".view.AnimatorActivity" />

        <service
            android:name=".download.DownloadService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".download.DownloadActivity" />
        <activity android:name=".view.MainActivity" />
        <activity android:name=".classDemo.Main2Activity" />
        <activity
            android:name=".classDemo.Main3Activity"
            android:label="@string/title_activity_main3"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.administrator.myapplication.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

        <receiver android:name="com.example.library.NetStateReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service android:name=".aidl.ManagerService" />
    </application>

</manifest>